flask==3.0.3
flask-cors==4.0.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
joblib==1.4.2
Pillow==10.3.0
tensorflow==2.16.1
sentence-transformers==2.7.0
faiss-cpu==1.8.0
transformers==4.40.0
torch==2.2.2
pypdf==4.2.0
